<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/add_entry' method='post'>
      Entry Title: <input type="text" name="title">
      Entry content: <input type="text" name="content">
      <input type="submit" value="Add New Entry">
    </form>
  </body>
</html>
