<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @entries.each do |entry| %>
      <li>
        <a href="/read_entry?title=<%=entry.title%>&content=<%=entry.content%>">
          <%= entry.title %>
        </a>
      </li>
      <% end %>
    </ul>
  </body>
</html>
