Welcome to your diary!
<div>
  <form action="/browse" method="get">
    <input type="submit" value="Browse Entries">
  </form>
  <form action="/new_entry" method="get">
    <input type="submit" value="Add New Entry">
  </form>
</div>
